- var service = [{title: 'Живая музыка', price: "(+2500 р.)"},{title: 'Профессиональная фотосессия', price: "(+2500 р.)"},{title: 'Лепестки роз (на столе или путь от лифта к шатру)', price: "(+1000 р.)"},{title: 'Дизайнерский букет', price: "(+2500 р.)"},{title: 'Декор воздушными шарами', price: "(+1500 р.)"},{title: 'Прокат фотоаппарата InstaX (+ кассета на 10 снимков)', price: "(+2000 р.)"},{title: 'Урок по сальсе с профессиональным преподавателем', price: "(+2000 р./час)"},{title: 'Дополнительный час', price: "(+1000 р.)"}]

section.offer.hidden__md
  .container
    .offer__top
      h2.title Пакетные </br> предложения
      p Для Вас мы подготовили несколько предложений, каждое из которых позволит создать особое впечатление от события.
    .content
      .offer__list
        form.offer__item.regular
          .offer__item--about
            h3.offer__item--title White
            span.select__title Кол-во часов
            select.select.select__time
              option 2 часа
              option 3 часа
              option 4 часа
            .offer__item--included
              h3 Что входит в пакет:
              ul
                li Вино или горячий чай
                li Уютные пледы
                li Удобная мебель
                li Декоративное освещение
                li Сезонные фрукты
          a.additional__button Дополнительные услуги
            span.plus +
            span.check &#10003;
          .offer__price
            span.offer__price--title Итого:
            span.offer__price--sum 5 500 р.
          button.button забронировать
          .options
            .options__inner
              h3.options__title Дополнительные услуги
              ul.list
                for i in service
                  li.list__item
                    span.title=i.title
                    span.price=i.price
                    label.checkbox
                      input(type="checkbox")
                      span.checkmark
              a.button Применить к пакету
              .options__close
                span
                span
        form.offer__item.pink
          .offer__item--about
            h3.offer__item--title Pink
            span.select__title Кол-во часов
            select.select.select__time
              option 2 часа
              option 3 часа
              option 4 часа
            .offer__item--included
              h3 Что входит в пакет:
              ul
                li Вино или горячий чай
                li Уютные пледы
                li Удобная мебель
                li Декоративное освещение
                li Сезонные фрукты
          a.additional__button Дополнительные услуги
            span.plus +
            span.check &#10003;
          .offer__price
            span.offer__price--title Итого:
            span.offer__price--sum 6 500 р.
          button.button забронировать
          .options
            .options__inner
              h3.options__title Дополнительные услуги
              ul.list
                for i in service
                  li.list__item
                    span.title=i.title
                    span.price=i.price
                    label.checkbox
                      input(type="checkbox")
                      span.checkmark
              a.button Применить к пакету
              .options__close
                span
                span
        form.offer__item.red
          .offer__item--about
            h3.offer__item--title Red
            span.select__title Кол-во часов
            select.select.select__time
              option 3 часа
              option 4 часа
            .offer__item--included
              h3 Что входит в пакет:
              ul
                li Вино или горячий чай
                li Уютные пледы
                li Удобная мебель
                li Декоративное освещение
                li Сезонные фрукты
          a.additional__button Дополнительные услуги
            span.plus +
            span.check &#10003;
          .offer__price
            span.offer__price--title Итого:
            span.offer__price--sum 13 000 р.
          button.button забронировать
          .options
            .options__inner
              h3.options__title Дополнительные услуги
              ul.list
                for i in service
                  li.list__item
                    span.title=i.title
                    span.price=i.price
                    label.checkbox
                      input(type="checkbox")
                      span.checkmark
              a.button Применить к пакету
              .options__close
                span
                span
        form.offer__item.party
          .offer__item--about
            h3.offer__item--title Вечеринка      
            p более 2 человек         
            span.select__title Кол-во часов
            select.select.select__time(disabled)
              option 4 часа
            span.select__title Кол-во человек
            select.select
              option до 10
              option 10 - 25
              option 25 - 50
              option 50+
            p Дополнительный час (+ 1000 p.)
          .offer__price
            span.offer__price--title Итого:
            span.offer__price--sum 12 000 р.
          button.button забронировать
    .offer__slider
      ul.list
        li.list__item 
          img(src="./assets/img/offer-slide-1.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-2.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-3.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-4.jpg", alt="slide")
        li.list__item 
          img(src="./assets/img/offer-slide-5.jpg", alt="slide")
    .conditions
      h3.title Условия</br>проведения</br>мероприятия
      p На крышу вы попадете через холл высококлассного бизнес-центра на лифте.
      p Координатор встретит вас, проводит на площадку, ответ на все ваши вопросы и расскажет о технике безопасности.